@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth scroll-pt-20;
  }
  
  :root {
    --background: 240 25% 14%;
    --foreground: 210 40% 98%;
    --card: 222 47% 16%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 16%;
    --popover-foreground: 210 40% 98%;
    --primary: 199 84% 56%;
    --primary-foreground: 199 84% 16%;
    --secondary: 222 47% 16%;
    --secondary-foreground: 210 40% 98%;
    --muted: 222 47% 16%;
    --muted-foreground: 215 20% 65%;
    --accent: 271 76% 53%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 222 47% 16%;
    --input: 222 47% 16%;
    --ring: 199 84% 56%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 25% 14%;
    --foreground: 210 40% 98%;
    --card: 222 47% 16%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 16%;
    --popover-foreground: 210 40% 98%;
    --primary: 199 84% 56%;
    --primary-foreground: 199 84% 16%;
    --secondary: 222 47% 16%;
    --secondary-foreground: 210 40% 98%;
    --muted: 222 47% 16%;
    --muted-foreground: 215 20% 65%;
    --accent: 271 76% 53%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 222 47% 16%;
    --input: 222 47% 16%;
    --ring: 199 84% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
